<body>
  <h1>Books (show pages)</h1>
  <main class="container">
    <div class="showBook">

      <h1><%= book.title %></h1>
      <img src="<%= book.image %>" alt="<%= book.title %>'s image" class="bookImage">
      <h4>Author:</h4> <p> <%= book.author %></p>
      <h4>Genre:</h4> <p><%= book.genre %></p>

      <form method="POST" class="" action="/books/<%= book.id %>/comments">
        <div class="form-group">
          <label for="body">Please leave a comment about this book:</label>
          <textarea id="body" name="body" class="form-control"rows="8" cols="80"></textarea>
        </div>
        <input type="submit" name="" class="btn btn-default" value="Submit">
      </form>

      <ul>
        <% book.comments.forEach(comment => { %>
          <li><a href="/users/<%= comment.user._id %>"><%= comment.user.username %></a> &middot; <%= comment.body %></li>
          <% }) %>
        </ul>
      </div>
      <div class="editBook">
        <p>Would you like to edit this book?</p>
        <%# hacked button format around <a> tag - may prove probematic for styling! %>
        <button class="btn btn-default"> <a href="/books/<%= book._id %>/edit"</a>Edit</button>
      </div>

      <div class="deleteBook">
        <p>Would you like to delete this?</p>
        <form method="post" action="/books/<%= book.id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" class="btn btn-default" value="Delete">
        </form>
      </div>

      <%# <div class="col-md-4">
      <input type="button" name="" class="btn btn-default" value="Back" onclick="history.back(-1)"/>
    </div>%>
  </div>
